@charset "utf-8";
/* CSS Document */
html, body {
  margin:0; padding:0;
  height: 100%;
  overflow-x: hidden;
}

.toastClass{
  z-index: 10000;
}

p {
  margin:0;
}
.page {
  position: relative;
  height:100%;
}

.popup {
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
  opacity:0;
  visibility:hidden;
  transition:.3s ease;
}

.show-popup .popup {
  opacity:1;
  visibility: visible;
}

.popup > iframe {
  position:absolute;
  top:50px;
  left:50%;
  margin-left:-280px;
}

.home-hero {
  background: #e8277a;
  height: 100%;
}

.pinkText{
  color:#e8277a;
}

.width100p {
  width: 100%;
  height: auto;
}

.howItWorksBg {
  background: url(../images/grayBG.png) center top repeat;
  background-size: cover;
  height: 100%;
}

.rightPinkLine {
  border-left: solid 5px #ff227c;
  padding-left: 20px;
}

.card {
  border-radius: 5px;
  position: relative;
  background: #dedede;
  border: solid 1px #d1d1d1;
  height: auto;
  width: 100%;
  display: block;
  margin-top: 50px;
}

.offerTagWrap{

}

.offerTag {
  background: url(../images/tag.svg) no-repeat left top;
  fill:#424242;
  position: absolute;
  width: 115px;
  height: 67px;
  left: -10px;
  top: -12px;
  z-index: 4;
}

.socialShare{
  position: absolute;
  left:63%;
  width:100%;
  top:60px;
  z-index: 200;
}

.offerTagBigText {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  float: left;
  width: 100%;
  color: #FFFFFF;
  padding-left: 15px;
}

.offerTagSmallText {
  font-size: 10px;
  font-weight: 700;
  color: #343434;
  padding-top: 12px;
  float: left;
  width: 100%;
  color: #FFFFFF;
  padding-left: 15px;
}

.cardInfo {
  background: #f2f2f2;
  padding-bottom: 10px;
  padding-top: 5px;
  height: auto;
  overflow: hidden;
}

.cardBigText {
  font-size: 40px;
  font-weight: 700;
  color: #343434;
  margin-bottom: -10px;
  margin-left: 30px;
  text-transform: uppercase;
}

.lowestPriceSmallText {
  font-size: 18px;
  font-weight: 400;
  color: #343434;
  line-height: normal;

  margin-left: 30px;
  text-transform: uppercase;
}

.lowestPriceBigText {
  font-size: 25px;
  font-weight: 700;
  color: #343434;
  margin-bottom: -10px;
  margin-left: 30px;
  text-transform: uppercase;
}

.cardSmallText {
  font-size: 12px;
  font-weight: 400;
  color: #343434;
  line-height: normal;
  margin-left: 30px;
  text-transform: uppercase;
}

.JoinedThisGroup {
  width: 34%;
  height: auto;
  float: left;
  background: url(../images/border.png) repeat-y right top;
  background-origin: padding-box;
}

.lowestPrice {
  width: 66%;
  height: auto;
  float: left;
}

.productImageAndInfo {
  position: relative;
  background: #dbdbdb;
}

.statusBar-white {
  width: 100%;
  background: #fff;
  height: 2px;
  position: relative;
  outline: 1px solid #cdcdcd;
}

.statusBar-pink {
  width: 60%;
  background: #ff227c;
  height: 2px;
  position: absolute;
  outline: 1px solid #cdcdcd;
}

.animate-enter {
  -webkit-animation: enter 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  animation: enter 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  display: block;
  position: relative;
}
@-webkit-keyframes enter {
  from {
    opacity: 0;
    height: 0px;
  }
  20% {
    opacity: .5;
  }
  40% {
    opacity: .15;
    color: red;    	    }
  60% {
    opacity: .75;
  }
  80% {
    opacity: .3;
  }
  to {
    opacity: 1;
    height: 30px;
  }
}
@keyframes enter {
  from {
    opacity: 0;
    height: 0px;
  }
  20% {
    opacity: .5;
  }
  40% {
    opacity: .15;
    color: red;    	    }
  60% {
    opacity: .75;
  }
  80% {
    opacity: .3;
  }
  to {
    opacity: 1;
    height: 30px;
  }
}

.animate-leave {
  -webkit-animation: leave 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  animation: leave 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  display: block;
  position: relative;
}
@-webkit-keyframes leave {
  to {
    opacity: 0;
    height: 0px;
  }
  80% {
    opacity: .25;
  }
  60% {
    opacity: .10;
    color: red;    	    }
  40% {
    opacity: .5;
  }
  20% {
    opacity: .30;
  }
  from {
    opacity: 1;
    height: 30px;
  }
}
@keyframes leave {
  to {
    opacity: 0;
    height: 0px;
  }
  80% {
    opacity: .25;
  }
  60% {
    opacity: .10;
    color: red;    	    }
  40% {
    opacity: .5;
  }
  20% {
    opacity: .30;
  }
  from {
    opacity: 1;
    height: 30px;
  }
}

.smallPinkCircle {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: #ff227c;
  position: absolute;
  top: -4px;
  z-index: 9;
}

.BigPinkCircle {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  top: -6px;
  z-index: 9;
  border: 5px solid #ff227c;
}

.smallWhiteCircle {
  width: 11px;
  height: 11px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  top: -4px;
  z-index: 9;
  border: 1px solid #cdcdcd;
}

.smallCircle {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: #ff227c;
  position: absolute;
  top: -4px;
  z-index: 9;
}

.Imageinfo {
  width: 100%;
  height: 196px;
  background: url(../images/ovarlay.png) bottom left repeat-x;
  position: absolute;
  bottom: 0;
  z-index: 3;
  padding-top: 100px;
}

.imageBox {
  width: 100%;
  height: 320px;
}

.imageBox img {
  border-radius: 5px;
}

.textAlignment {
  display: inline-block;
  text-align: left;
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 27px;
  text-transform: uppercase;
  line-height: 20px;
}

.finalPriceBtn {
  background: #343434;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.finalPriceBtn span {
  font-size: 10px;
}

.fooreInside {
  border-bottom: #cccccc 1px solid;
  border-top: #cccccc 1px solid;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 50px;
}

.footerLinks {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

.footerLinks li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footerLinks a {
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
}

.copyrightTxt {
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  padding-bottom: 15px;
  padding-top: 15px;
}

.pinkBTN {
  height: 40px;
  background: #A257FF;
  border: #c3bbbe 2px solid;
  width: 100%;
  font-weight: normal;
  color: #fff;
  font-size: 16px;
  padding-top: 6px;
}

.pinkBTN:hover {
  background: #A257FF;
  color: #fff;
}

.userName {
  width: auto;
  float: right;
}

.userName button {
  background: none;
  border: none;
}

.notification {
  width: auto;
  display: block;
  float: right;
  margin-right: 10px;
}

.bgGray {
  background: #ececec;
}

.categoryList {
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.categoryList li {
  display: inline-block;
  margin-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #d9d9d9;
}

.categoryList li:last-child {

  border-right: none;
}

.categoryList li a {
  font-size: 16px;
  font-weight: 400;
  color: #828282;
}

.sideImagewrapp {
  position: relative;
  height: 300px;
  /*margin-left: 15px;*/
  background: #FFFFFF;
}

.image-center{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%); /* Safari and Chrome */
  -moz-transform: translate(-50%, -50%); /* Firefox */
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -o-transform: translate(-50%, -50%); /* Opera */
}

.offerTagBig {
  background: url(../images/offerTAgBig.png) left top no-repeat;
  position: absolute;
  z-index: 9;
  color: #ffffff;
  top: 0px;
  left: 0px;
  width: 152px;
  height: 78px;
}

.bigtagBigText {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 16px;
  margin-left: 15px;
}

.bigtagSmallText {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 15px;
  margin-top: -5px;
}


.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-top-width: 5px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.bs-callout-l {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.bs-callout-user {
  border-top-color: #ff227c;
}

.bs-callout-update{
  border-left-color: #ff227c;
}


.bigPink100pBtn {
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  background: #A257FF;
  bottom: 0px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 15px;
  padding-top: 15px;
}

.bigPink100pBtn:hover {
  text-decoration: none;
  color: #fff;
  background: #B257FF;
}

.bigGray100pBtn {
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  background: #ececec;
  bottom: 0;
  font-size: 20px;
  font-weight: 400;
  color: #a5a5a5;
  padding-bottom: 15px;
  padding-top: 15px;
}

.bigGray100pBtn:hover {
  text-decoration: none;
  color: #ffffff;
  background: #d9226d;
}

.share {
  width: auto;
  height: auto;
  position: absolute;
  right: 15px;
  top: 25px;
  display: block;
}

.closeDealBox {
  padding: 25px;
  border: solid #c2c2c2 2px;
  width: auto;
  height: auto;
  float: left;
  margin-top: 30px;
  margin-left: -1px;
  text-align: center;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.interestedBox {
  padding: 25px;
  border: solid #ECECEC 2px;
  background-color: #ECECEC;
  width: auto;
  height: auto;
  float: left;
  margin-top: 30px;
  text-align: center;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.height680 {
  height: 600px;
}

.bigWhiteSliderWrapp {
  position: relative;
  width: 100%;
  height: 6px;
  background: #c9c9c9;
  margin-top: 100px;
}

.bigWhiteSliderBigCircle {
  position: absolute;
  width: 150px;
  height: 150px;
  padding-top: 40px;
  padding-right: 20px;
  border-radius: 100px;
  background: #fff;
  border: 5px #c9c9c9 solid;
  top: -75px;
  z-index: 9;
}

.bigWhiteSliderSidecircleOne {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 20px;
  background: #c9c9c9;
  top: -8px;
}

.bigWhiteSliderSidecircletwo {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 20px;
  background: #c9c9c9;
  top: -8px;
  right: 0px;
}

.paddingTopBottom {
  padding-bottom: 130px;
  padding-top: 130px;
}

.marginTop50px {
  margin-top: 50px;
}

.marginTop25px {
  margin-top: 25px;
}

.marginTop15px {
  margin-top: 15px;
}

.marginTop5px {
  margin-top: 5px;
}

.marginRight10px {
  margin-right: 10px;
}

.marginLeft20px {
  margin-left: 20px;
}

/*btn*/
.yellow-line-btn {
  font-family: 'Ubuntu', sans-serif;
  width: auto;
  display: inline-block;
  border: #fee33d 2px solid;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  text-align: center;
  color: #fee33d;
  text-decoration: none;
  background: none;
}

.yellow-line-btn:hover {
  width: auto;
  display: inline-block;
  border: #fee33d 2px solid;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  text-align: center;
  color: #e8277a;
  background: #fee33d;
  text-decoration: none;
}

@media (max-width: 990px) {
  .home-logo {
    width: 40%;
  }
}

@media (max-width: 1100px) {
  .home-logo {
    width: 50%;
  }
}

@media (max-width: 1400px) {
  .home-logo {
    width: 550px;
  }
}

