@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
h1, h2, h3, h4, h5, h6, p {
	font-family: 'Ubuntu', sans-serif;
	margin: 0px;
	padding: 0px;
}
h1 {
	font-size: 66px;
	font-weight: 700;
}
h2 {
	font-size: 40px;
	font-weight: 700;
}
h3 {
	font-size: 30px;
	font-weight: 700;
}
h4 {
	font-size: 25px;
	font-weight: 700;
}

h5 {
	font-size: 20px;
	font-weight: 400;
}
a {
	color: #e8277a;
}
a:hover {
	color: #e8277a;
}

.priceBox{
    width: auto;
    height: auto;
    float: left;
    overflow: hidden;
    
}
.priceBox h1{
    font-size: 30px;
	font-weight: 700;
    color: #3e3e3e;
}

.priceBox h2{
    font-size: 20px;
	font-weight: 400;
    color: #6e6e6e;
 
}


.interestedBox h1{
        font-size: 44px;
	font-weight: 700;
    color: #ff227c;
}

.interestedBox h2{
        font-size: 14px;
	font-weight: 700;
    color: #6e6e6e;
}



.closeDealBox h1{
        font-size: 44px;
	font-weight: 700;
    color: #ff227c;
}

.closeDealBox h2{
        font-size: 14px;
	font-weight: 700;
    color: #6e6e6e;
}

.bigWhiteSliderBigCircle h1{ 
    font-size: 44px;
	font-weight: 700;
    color: #3e3e3e;
}
.bigWhiteSliderBigCircle h2{
        font-size: 14px;
	font-weight: 700;
    color: #6e6e6e;
}

.infoText{
    width: 200px;
    height:  auto;
    position: absolute;
         font-size: 14px;
	font-weight: 400;
    color: #6e6e6e;
    text-align: center;
    z-index: 15;
    bottom: -30px;
    left: -30px;
}
.colorWhite {
	color: #fff;
}
.colorPink {
	color: #e8277a;
}
.colorDarkGray {
	color: #2f2f2f;
}

.colorLightGray {
	color: #6e6e6e;
}
.heart {
	background: url(../images/love.png) no-repeat;
	height: 31px;
	width: 34px;
	display: inline-block;
	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: -5px;
}
