@charset "utf-8";
/* CSS Document */
html, body {
  height: 100%;
}

.home-hero {
  background: #e8277a;
  height: 100%;
}

.width100p {
  width: 100%;
  height: auto;
}

.howItWorksBg {
  background: url(../images/grayBG.png) center top repeat;
}

.rightPinkLine {
  border-left: solid 5px #ff227c;
  padding-left: 20px;
}

.card {
  border-radius: 5px;
  position: relative;
  background: #dedede;
  border: solid 1px #d1d1d1;
  height: auto;
  width: 100%;
  display: block;
  margin-top: 50px;
}

.offerTag {
  background: url(../images/offerTAg.png) no-repeat left top;
  position: absolute;
  width: 115px;
  height: 67px;
  left: -12px;
  top: -12px;
  z-index: 99;
}

.socialShare{
  position: absolute;
  left:63%;
  width:100%;
  top:60px;
  z-index: 200;
}

.offerTagBigText {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #343434;
  text-transform: uppercase;
  float: left;
  width: 100%;
  color: #FFFFFF;
  padding-left: 15px;
  padding-top: 12px;
}

.offerTagSmallText {
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #343434;
  text-transform: uppercase;
  float: left;
  width: 100%;
  color: #FFFFFF;
  padding-left: 15px;
}

.cardInfo {
  background: #f2f2f2;
  padding-bottom: 25px;
  padding-top: 25px;
  height: auto;
  overflow: hidden;
}

.cardBigText {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #343434;
  margin-bottom: -10px;
  margin-left: 30px;
  text-transform: uppercase;
}

.lowestPriceSmallText {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #343434;
  line-height: normal;
  margin-bottom: -5px;
  margin-left: 30px;
  margin-top: 10px;
  text-transform: uppercase;
}

.lowestPriceBigText {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #343434;
  margin-bottom: -10px;
  margin-left: 30px;
  text-transform: uppercase;
}

.cardSmallText {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #343434;
  line-height: normal;
  margin-left: 30px;
  text-transform: uppercase;
}

.JoinedThisGroup {
  width: 34%;
  height: auto;
  float: left;
  background: url(../images/border.png) repeat-y right top;
}

.lowestPrice {
  width: 66%;
  height: auto;
  float: left;
}

.productImageAndInfo {
  position: relative;
  background: #dbdbdb;
}

.statusBar-white {
  width: 100%;
  background: #fff;
  height: 2px;
  position: relative;
  outline: 1px solid #cdcdcd;
}

.statusBar-pink {
  width: 60%;
  background: #ff227c;
  height: 2px;
  position: absolute;
  outline: 1px solid #cdcdcd;
}

.smallPinkCircle {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: #ff227c;
  position: absolute;
  top: -4px;
  z-index: 9;
}

.BigPinkCircle {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  top: -6px;
  z-index: 9;
  border: 5px solid #ff227c;
}

.smallWhiteCircle {
  width: 11px;
  height: 11px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  top: -4px;
  z-index: 9;
  border: 1px solid #cdcdcd;
}

.smallCircle {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: #ff227c;
  position: absolute;
  top: -4px;
  z-index: 9;
}

.Imageinfo {
  width: 100%;
  height: 196px;
  background: url(../images/ovarlay.png) bottom left repeat-x;
  position: absolute;
  bottom: 0px;
  padding-top: 100px;
}

.imageBox {
  width: 100%;
  height: 320px;
}

.imageBox img {
  border-radius: 5px;
}

.textAlignment {
  display: inline-block;
  text-align: left;
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 27px;
  text-transform: uppercase;
  line-height: 20px;
}

.finalPriceBtn {
  background: #343434;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.finalPriceBtn span {
  font-size: 10px;
}

.fooreInside {
  border-bottom: #cccccc 1px solid;
  border-top: #cccccc 1px solid;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 50px;
}

.footerLinks {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

.footerLinks li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footerLinks a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
}

.copyrightTxt {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  padding-bottom: 15px;
  padding-top: 15px;
}

.pinkBTN {
  height: 40px;
  background: #ff227c;
  border: #c3bbbe 2px solid;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 16px;
  padding-top: 6px;
}

.pinkBTN:hover {
  background: #a81752;
  color: #fff;
}

.userName {
  width: auto;
  float: right;
}

.userName button {
  background: none;
  border: none;
}

.notification {
  width: auto;
  display: block;
  float: right;
  margin-right: 10px;
}

.bgGray {
  background: #ececec;
}

.categoryList {
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.categoryList li {
  display: inline-block;
  margin-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #d9d9d9;
}

.categoryList li:last-child {

  border-right: none;
}

.categoryList li a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #828282;
}

.sideImagewrapp {
  position: relative;
  height: auto;
  margin-left: -15px;
  background: #d1d1d1;
}

.offerTagBig {
  background: url(../images/offerTAgBig.png) left top no-repeat;
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 0px;
  width: 152px;
  height: 78px;
}

.bigtagBigTxt {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-top: 16px;
  margin-left: 15px;
}

.bigtagSmallTxt {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-left: 15px;
  margin-top: -5px;
}

.bigPink100pBtn {
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  background: #ff227c;
  bottom: 0px;

  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 15px;
  padding-top: 15px;
}

.bigPink100pBtn:hover {
  text-decoration: none;
  color: #fff;
  background: #d9226d;
}

.share {
  width: auto;
  height: auto;
  position: absolute;
  right: 15px;
  top: 25px;
  display: block;
}

.closeDealBox {
  padding: 25px;
  border: solid #c2c2c2 2px;
  width: auto;
  height: auto;
  float: left;
  margin-top: 30px;
  margin-left: -1px;
  text-align: center;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.interestedBox {
  padding: 25px;
  border: solid #c2c2c2 2px;
  width: auto;
  height: auto;
  float: left;
  margin-top: 30px;
  text-align: center;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.height680 {
  height: 600px;
}

.bigWhiteSliderWrapp {
  position: relative;
  width: 100%;
  height: 6px;
  background: #c9c9c9;
  margin-top: 100px;
}

.bigWhiteSliderBigCircle {
  position: absolute;
  width: 150px;
  height: 150px;
  padding-top: 40px;
  padding-right: 20px;
  border-radius: 100px;
  background: #fff;
  border: 5px #c9c9c9 solid;
  top: -75px;
  z-index: 9;
}

.bigWhiteSliderSidecircleOne {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 20px;
  background: #c9c9c9;
  top: -8px;
}

.bigWhiteSliderSidecircletwo {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 20px;
  background: #c9c9c9;
  top: -8px;
  right: 0px;
}

.paddingTopBottom {
  padding-bottom: 130px;
  padding-top: 130px;
}

.marginTop50px {
  margin-top: 50px;
}

.marginTop25px {
  margin-top: 25px;
}

.marginTop15px {
  margin-top: 15px;
}

.marginTop5px {
  margin-top: 5px;
}

.marginRight10px {
  margin-right: 10px;
}

.marginLeft20px {
  margin-left: 20px;
}

/*btn*/
.yellow-line-btn {
  font-family: 'Ubuntu', sans-serif;
  width: auto;
  display: inline-block;
  border: #fee33d 2px solid;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  text-align: center;
  color: #fee33d;
  text-decoration: none;
  background: none;
}

.yellow-line-btn:hover {
  width: auto;
  display: inline-block;
  border: #fee33d 2px solid;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  text-align: center;
  color: #e8277a;
  background: #fee33d;
  text-decoration: none;
}

@media (max-width: 990px) {
  .home-logo {
    width: 40%;
  }
}

@media (max-width: 1100px) {
  .home-logo {
    width: 50%;
  }
}

@media (max-width: 1400px) {
  .home-logo {
    width: 550px;
  }
}

