div.container-fluid(style="padding-top:20px;padding-bottom:50px;")
  div.container
    div.col-md-4.col-sm-4.col-sm-offset-4.col-md-offset-4
      a(href="/")
        img(src="images/glass.png",height="80px",style="display:block;margin-top:30px;margin-left:auto;margin-right:auto;")
      h2.text-center(style="color:#E8277A")="Login"
      hr
      div.panel(ng-show="status !== undefined && status.success !== true")
        div.panel-body.text-center
          p {{status.message}}
      form#loginForm(role="form",name="form",style="margin-top:20px;",method="POST",action="/login")
        div
          label(for="email")="Email"
          input#email.form-control(type="text",style="font-size:16px;",name="email",placeholder="me@you.com")
        div
          label(for="password")="Password"
          input#password.form-control(type="password",style="font-size:16px;",name="pwd",placeholder="password")
        div.text-center(style="margin-top:10px;")
          button.btn.btn-primary-border#loginButton(type="submit",data-loading-text="Logging in...")="Login"
