div.container-fluid-full
  div.container-fluid-full.bgGray(style="padding:10px;")
    div.row
      div.col-md-12
        div.col-md-2
          a(ng-click="landing()")
            img.img-responsive.text-center(src="images/innerPageLogo.png",width="160px;")
        div.col-md-4.pull-right.col-md-offset-6.text-right
          .btn.btn-primary-border(ng-click="login()")="Login"
  div.container(style="margin-top:50px;")
  h2.text-center(style="color:#E8277A;margin-top:20px;")="Register"
  hr
  div.container(style="margin-top:30px;margin-bottom:50px;")
    div.col-md-4.col-sm-4.col-sm-offset-2.col-md-offset-2
      div(ng-show="status !== undefined && status.success !== true")
        div.panel-danger.text-center
          p {{status.message}}
      form#signUpForm(role="form",name="form",style="margin-top:20px;",novalidate)
        div(ng-class="{'has-error form-group':form.$submitted && form.email.$error.required || form.email.$error.email === true,'form-group':true}")
          label(for="email")="Email"
          input#email.form-control(type="text",style="font-size:16px;",name="email",placeholder="Email",ng-model="user.email",required="")
        div(ng-show="form.$submitted &&form.password.$error.minlength")
          | Min length of password must be 8 characters
        div(ng-class="{'has-error form-group':form.$submitted &&form.password.$error.required === true,'form-group':true}")
          label(for="password")="Password"
          input#password.form-control(type="password",style="font-size:16px;",name="password",placeholder="Password",ng-model="user.password",required="",ng-minlength="8")
        div(ng-class="{'has-error form-group':form.$submitted &&form.confirm_password.$error.required === true,'form-group':true}")
          label(for="confirmPassword")="Confirm Password"
          input#confirmPassword.form-control(type="password",style="font-size:16px;",name="confirm_password",placeholder="Confirm Password",ng-model="user.confirm_password",required="",ng-minlength="8")
        div.text-center(style="margin-top:10px;")
          button.btn.btn-primary-border#signUpButton(type="submit",ng-click="register()",data-loading-text="Registering...")="Register"
    div.col-md-3.col-sm-3.text-center(style="margin-top:80px;")
      a#loginWithFacebook.text-center(ng-click="loginWithFacebook()")
        image(src="images/fb_login.png",style="width:190px;")
      a#loginWithGPlus.text-center(ng-click="loginWithGooglePlus()")
        image(src="images/google_sign_in.png",style="width:195px;")
